version: "3.9"

services:
  db:
    image: postgres:15
    container_name: devtask_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: newpassword
      POSTGRES_DB: devtask
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: devtask_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: newpassword
      DB_NAME: devtask
      DB_PORT: 5432
    depends_on:
      - db

volumes:
  pgdata: {}
